.navbar {
    width: 100%;
    padding: 7px 5px;

    position: fixed;
    background-color: var(--primary-color);

    display: grid;
    grid-template-columns: auto min-content min-content;
    column-gap: 17px;
    top: -1px;
    z-index: 1000;
}

.navbar__child {
    height: 43px;
    aspect-ratio: 1/1;
}

.navbar__child:nth-child(1) {
    z-index: 1200;
}