<app-navbar></app-navbar>
<app-side-menu></app-side-menu>
<div class="home__container">
    <section class="home__wellcome-view">
        <h1>Packuba</h1>
        <article>Sientes ganas de alcanzar esos productos con los que siempre has soñado, permite que nosotros los
            llevemos desde las estenterías hasta tus manos...</article>
        <span>Vamos a conocernos</span>
        <div class="home__wave home__wave1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#fafaff" fill-opacity="1" d="M0,96L720,320L1440,96L1440,320L720,320L0,320Z"></path>
            </svg>
        </div>
        <div class="home__wave home__wave2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#fafaff" fill-opacity="1" d="M0,73L720,300L1440,73L1440,360L720,360L0,310Z"></path>
            </svg>
        </div>
    </section>
    <section class="home__ie-shop">
        <h4>Desde cualquier tienda</h4>
        <div class="ie-shop__icons-container">
            <a href="https://www.amazon.com" target="_blank" rel="noopener noreferrer" class="ie-shop__icons-a">
                <app-amazon-svg class="ie-shop__icon"></app-amazon-svg>
            </a>
            <a href="https://www.aliexpress.com" target="_blank" rel="noopener noreferrer" class="ie-shop__icons-a">
                <app-aliexpress-svg class="ie-shop__icon"></app-aliexpress-svg>
            </a>
            <a href="https://www.ebay.com" target="_blank" rel="noopener noreferrer" class="ie-shop__icons-a">
                <app-ebay-svg class="ie-shop__icon"></app-ebay-svg>
            </a>
            <a href="https://www.alibaba.com" target="_blank" rel="noopener noreferrer" class="ie-shop__icons-a">
                <app-alibaba-svg class="ie-shop__icon"></app-alibaba-svg>
            </a>
        </div>
    </section>
    <section class="home__use-intructions">
        <h4 class="use-intructions__title">Así te ayudamos</h4>
        <div class="use-intructions__learn-container">
            <div class="use-i__tip-group">
                <span class="use-i__numbers--bg-orange">1</span>
                <article>Busca el producto que desees, en tu tienda favorita</article>
            </div>
            <div class="use-i__tip-group">
                <span class="use-i__numbers--bg-orange">2</span>
                <article>Copia el link del producto</article>
            </div>
            <div class="use-i__tip-group">
                <span class="use-i__numbers--bg-orange">3</span>
                <article>Pega el link en nuestra seccion de agregar pedido</article>
            </div>
            <div class="use-i__tip-group">
                <span class="use-i__numbers--bg-orange">4</span>
                <article>Espera mientras calculamos la fecha aproximada de la entrega y el costo del servicio</article>
            </div>
            <div class="use-i__tip-group">
                <span class="use-i__numbers--bg-orange">5</span>
                <article>Realiza el prepago y sigue el estado de tu pedido</article>
            </div>
        </div>
    </section>
    <section class="home__opinions">
        <h4 class="opinions__title">Que dicen nuestros clientes</h4>
        <article>
            <p>Recibí mi paquete desde Panamá en solo 15 días. ¡Gracias equipo de Packuba!</p>
            <span>@Yanet - La Habana</span>
        </article>
        <article>
            <p>Al principio no tenía tanta confianza pero cuando vi mi Play 5 personalizada en mis manos, tuve darles 5
                estrellas y propina.
            </p>
            <span>@Carlos - Santiago de Cuba</span>
        </article>
    </section>
    <section class="home__banner">
        <h4>Conectamos a <span>Cuba</span> con el <span>Mundo</span>, paquete a paquete.</h4>
    </section>
    <section class="home__trust-circles">
        <article class="trust-circles__circle--jobs-num">
            <p><span>+500</span> envíos satisfactorios</p>
        </article>
        <article class="trust-circles__circle--real-time-track">
            <p>Seguimiento en <span>tiempo real</span></p>
        </article>
        <article class="trust-circles__circle--garanty">
            <p><span>Transparencia grantizada</span> en el proceso</p>
        </article>
    </section>
    <section class="home__goto--new-order">
        <button type="button">comienza ya</button>
    </section>
    <section class="home__footer">
        <article class="footer__contact">
            <span>Soporte: +53 5 8468600</span>
            <span>Email: help@packuba.com</span>
            <span>Oficina central: La Habana, Cuba</span>
        </article>
        <article class="footer__social">
            <a href="" class="footer__social--clickable"></a>
            <a href="" class="footer__social--clickable"></a>
            <a href="" class="footer__social--clickable"></a>
        </article>
        <article class="footer__pol">
            <div class="footer__pol--terms-container">
                <span>Políticas de uso</span>
                <span>Política de privacidad</span>
                <span>Términos</span>
            </div>
            Packuba. Todos los derehos reservados.
        </article>
    </section>
</div>