.new-product__container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: 55px;

    display: flex;
    flex-direction: column;

    background: var(--white-variation);
}

.new-product__container h4 {
    font-size: 27px;
    margin-bottom: 10px;
}

.new-product__top-background--orange {
    margin-top: -1px;
    padding: 10px 13px;

    font-size: 17px;
    color: var(--primary-color);
}

.new-product__input--flex {
    height: 47px;
    margin: 0 13px;
    margin-top: 24px;

    display: flex;
    align-items: center;
    border-radius: 777px;
    overflow: hidden;
    background-color: bisque;
}

.new-product__input--flex * {
    height: 100%;
    width: 100%;
    padding: 0 13px;
    font-size: 17px;

}

.new-product__input--flex :nth-child(1) {
    border-style: none;
    border: solid 1px var(--secundary-color);
    border-top-left-radius: 777px;
    border-bottom-left-radius: 777px;
}

.new-product__input--flex :nth-child(2) {
    width: max-content;

    border-style: none;
    background-color: var(--secundary-color);
    color: var(--white-variation);
}