.side-menu__container {
    width: 200%;
    height: 100%;
    position: fixed;
    z-index: 1100;
    display: flex;

    transition: left 300ms, opacity 100ms 100ms, visibility 100ms 100ms;
    opacity: 0;
    visibility: hidden;
    left: -100%;
}

.side-menu__container.active {
    left: 0;
    opacity: 1;
    visibility: visible;
}


.side-menu__nav {
    width: 37.7%;
    max-width: 330px;
    height: 100%;

    background-color: var(--white-variation);
    box-shadow: 3px 1px 24px #000000a8;
    z-index: 1010;
    user-select: none;
}

.side-menu__nav :nth-child(1) {
    width: min-content;

    border-radius: 777px;
    color: var(--secundary-color-light);
    background-color: var(--primary-color);
}

.side-menu__goto {
    margin: 13px 10px;
    padding: 13px 21px;
    border-radius: 7px;

    color: var(--primary-color);
    background-color: var(--primary-color-light);

    font-weight: 900;
    font-size: 20px;
}

.side-menu__exit {
    flex-grow: 1;
    height: 100%;
    background-color: #00000048;
    z-index: 1005;
}