.side-menu__container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    z-index: 1000;
}

.side-menu__nav {
    width: 73%;
    max-width: 330px;
    height: 100%;
    padding-top: 50px;

    background-color: #fafaff;
    box-shadow: 3px 1px 24px #000000a8;
    z-index: 1010;
}

.side-menu__goto {
    margin: 3px 7px;
    padding: 7px 13px;
    border-radius: 7px;
}

.side-menu__exit {
    flex-grow: 1;
    height: 100%;
    background-color: #00000048;
    z-index: 1005;
}